<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Update Order</title>
</head>
<body>
    <div class="d-flex justify-content-center">
        <form action="/change_order/{{order.id}}" method='POST' class="col-4 bg-dark p-4 my-5 mx-5 text-light">
            <h2 class="text-center text-primary mb-4">Update Order for {{order.name}}</h2>
            <div class="form-group">
                <input type="text" class="form-control" name="name" value="{{order.name}}"/>
                <label class="form-label" for="name">First Name</label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="cookie_type" value="{{order.cookie_type}}"/>
                <label class="form-label" for="cookie_type">Cookie Type</label>
            </div>
            <div class="form-outline mb-2">
                <input type="number" class="form-control" name="number_of_boxes" value="{{order.number_of_boxes}}"/>
                <label class="form-label" for="number_of_boxes">Number of Boxes</label>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary mb-4 mr-2" value="Log Change">
            <div style="width:310px" align="end">
                <a href="/" class="btn btn-secondary  mt-4">Back to Dashboard</a>
            </div>
        </form>
    </div>
</body>
</html>